/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color:aliceblue;
  background: linear-gradient(135deg, rgb(10, 9, 8), rgb(22, 34, 51));
  background-size: 200% 200%;
  animation: gradientFlow 8s linear infinite;
  min-height: 100vh;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Game Setup Screen */


.mb-2 {
    color:black;
}

.header{
  height: 90px;
  width: 120%;
  margin-top: -40px;
  margin-left: -50px;

}

.header img{
  margin: 30px;
  margin-left: 50px;
}

.gamesetup{
  position: absolute;
  left: 50%;
  margin-top: 100px;
  margin-left: -25%;
  width: 50%;
  align-items: center;
  text-align: center;
}

.gamemode button{
  margin-left: 20px;
  margin-right: 20px;
  border: 0.4px solid aliceblue;
  color: white;
  padding: 0.3rem 3rem;
  border-radius: 100px;
}

.gamemode button:hover{
  background-image: linear-gradient(135deg, rgba(50, 166, 167,0.5), rgba(67, 106, 172,0.5), rgba(137, 41, 173,0.5));
  transition: background-color 1s ease-in 0.5s;
}

.selected-button{
  background-image: linear-gradient(135deg, rgba(50, 166, 167,0.5), rgba(67, 106, 172,0.5), rgba(137, 41, 173,0.5));
}

